/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.about-s4 {
  background-color: #666 !important;
  background-blend-mode: multiply !important;
}

/* line 9, ../sass/partials/_modules.scss */
.contact-s3, .gallery-s3 {
  background-color: #666 !important;
  background-blend-mode: multiply !important;
}

/* line 16, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}

/* line 21, ../sass/partials/_modules.scss */
nav {
  z-index: 10;
}

/* line 25, ../sass/partials/_modules.scss */
textarea {
  resize: none;
}

@media all and (max-width: 767px) {
  /* line 31, ../sass/partials/_modules.scss */
  .about-s1, .about-s2, .about-s3 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
  }
  /* line 32, ../sass/partials/_modules.scss */
  .about-s1 *, .about-s2 *, .about-s3 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 39, ../sass/partials/_modules.scss */
  .about-s1, .about-s3 {
    background-position: right !important;
  }

  /* line 44, ../sass/partials/_modules.scss */
  .contact-s1, .contact-s2 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
  }
  /* line 45, ../sass/partials/_modules.scss */
  .contact-s1 *, .contact-s2 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }

  /* line 54, ../sass/partials/_modules.scss */
  .index-s1 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
  }
  /* line 55, ../sass/partials/_modules.scss */
  .index-s1 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }

  /* line 64, ../sass/partials/_modules.scss */
  .gallery-s1 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
    background-position: right !important;
  }
  /* line 65, ../sass/partials/_modules.scss */
  .gallery-s1 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }

  /* line 75, ../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
    opacity: 0.9;
  }
  /* line 76, ../sass/partials/_modules.scss */
  .navbar-nav * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 77, ../sass/partials/_modules.scss */
  .navbar-nav *:hover {
    opacity: 0.8;
  }
}
/* line 31, ../sass/partials/_mixins.scss */
.about-s1 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s2 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s3 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s4 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: scroll;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.gallery-s1 {
  background-attachment: scroll;
  background-image: url(../img/gallery/gallery-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.gallery-s2 {
  background-attachment: scroll;
  background-image: url();
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.gallery-s3 {
  background-attachment: scroll;
  background-image: url(../img/gallery/gallery-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.login-s1 {
  background-attachment: scroll;
  background-image: url(../img/login/login-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: scroll;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
